PORT=4000

# Database
HOST=db.vxeueeufeuygwevfbvrg.supabase.co
DATABASE=postgres
USER=postgres
PASSWORD=fEqOGay0DzPZJDkN
PORT_DB=5432

# Storage
CLOUD_NAME=royquiroz
API_KEY=612881731752385
API_SECRET=eVxfldKAkmHgrSqGVTotlwgk1og